[Desktop Entry]
Icon=text-html
Name=https://www.firstpalette.com/printable-theme/mask-glasses.html
Type=Link
URL[$e]=https://www.firstpalette.com/printable-theme/mask-glasses.html
