[Desktop Entry]
Icon=text-html
Name=https://www.facebook.com/foamarmour/posts/here-is-my-free-plague-doctor-mask-template/688968885188811/
Type=Link
URL[$e]=https://www.facebook.com/foamarmour/posts/here-is-my-free-plague-doctor-mask-template/688968885188811/
