[Desktop Entry]
Icon=text-html
Name=https://www.template.net/design-templates/animal-templates/animal-mask-template/
Type=Link
URL[$e]=https://www.template.net/design-templates/animal-templates/animal-mask-template/
